@use "scss/core/reset";
@use "scss/mixins/window-classes";
@use "scss/fonts/typography"; 
@use "scss/colors/colors";

@include reset.init();

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    @include colors.use-colors();
}

body {
    display: grid;
    font-family: "Roboto", sans-serif;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    grid-auto-rows: min-content;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position: relative;
    box-sizing: border-box;

    @include window-classes.on-medium {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 24px;
    }

    @include window-classes.on-large {
        grid-template-columns: repeat(12, 1fr);
    }
}

section {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    isolation: isolate;
    padding-inline: 16px;
    background-color: var(--md-sys-color-background);

    @include window-classes.on-medium {
        padding-inline: 32px;
    }

    @include window-classes.on-large {
        padding-inline: 64px;
    }
}

.hero-section {
    height: 100dvh;

    &__logo {
        height: 100px;
        place-items: center;
        min-width: 168px;
        display: grid;
    }

    &__info {

        grid-column: 3 / span 2 ;
        display: grid; 
        place-items: center;
        gap: 16px;

        span {
            @include typography.typography-title-large;
            color: white;
        }
                         

        @include window-classes.on-medium {
            grid-column: 5 / span 4;
        }
    
         @include window-classes.on-large {
            grid-column: 7 / span 6;
            justify-content: space-between;
            height: 100px;
            grid-template-columns: repeat(3, min-content);
        }
        
    }

    &__content {
        grid-column: span 4;
        display: grid;
        align-items: center;
        padding-block: 100px;

        &__heading {
            color: white;
            gap: 16px;
            display: grid;
            align-content: space-between;
            h1 {
                @include typography.typography-display-large;
            }

            h2 {
                @include typography.typography-headline-large;
            }
        }   
        @include window-classes.on-medium {
            grid-column: span 8;
        }

        @include window-classes.on-large {
            grid-column: span 6;
        }
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('../src/images/hero-background.png');
        background-size: cover;
        background-position: right;
        z-index: -1;
    }
}

.btn {
    @include typography.typography-display-medium;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--md-sys-color-primary);
    color:white;
    display: grid;
    place-items: center;
    height: 100px;
    box-sizing: border-box;
    white-space: nowrap;
    @include window-classes.on-compact {
        font-size: 24px;   
    }
}

.section-desc {
    padding-block: 64px;
    grid-auto-rows: 1fr;
    gap: 16px;
    background-color: white;
    

    @include window-classes.on-large {
        grid-auto-rows: unset;
        gap: 0;
        padding-block: 100px;     
    }


    &__image {
        grid-column: span 4;
        border-radius: 16px;
        height: 100%;
        overflow: hidden;
     
        @include window-classes.on-medium {
            grid-column: span 8;
        }
        @include window-classes.on-large {
            grid-column: span 5;
        }

        &--on-right {     
            @include window-classes.on-large {
                grid-column: 8 / span 5;
            }
        }

        &--on-blue{
            grid-column: unset;
        }


    }

    &__content {
        grid-column: span 4;
        display: grid;
        grid-auto-rows: min-content;
        gap: 16px;

        p {
            color: var(--md-sys-color-on-surface);
            @include typography.typography-body-large;
        }

        h3 {
            color: var(--md-sys-color-primary);
            @include typography.typography-headline-medium;
        }

        @include window-classes.on-medium {
            grid-column: span 8;
        }
        @include window-classes.on-large {
            grid-column: 7 / span 6;
        }


        &--on-left {
            @include window-classes.on-large {
                grid-column: span 6;
            }
        }

        &--on-grey {
            p {
                color: var(--md-sys-color-on-surface-variant);
            }

            @include window-classes.on-large {
                grid-column: 6 / span 7;
            }
        }

        &--on-blue {
            grid-column: unset; 
            grid-auto-rows: unset;
        }
    }

    &--grey {
        background-color: var(--md-sys-color-surface-variant); 
        padding-block: 64px;
    }

    &--blue {
        grid-template-columns: unset;
        background-color: var(--md-sys-color-secondary-container);      
        @include window-classes.on-large { 
            grid-auto-flow: dense;
            grid-template-columns: 1fr 1fr;
            gap: inherit;
        }
    }   
}

.section-statement {
    display: grid;
    place-items: center;
    padding-block: 64px;
    gap: 16px;

    &--blue {
      color: var(--md-sys-color-on-primary-container);
      background-color: var(--md-sys-color-primary-container);
    }

    h1, h2, h3, .btn {
        grid-column: span 4;
        @include window-classes.on-medium {
            grid-column: span 8;
        }
    
        @include window-classes.on-large {
            grid-column: span 12;
        }
        
    }
   
    @include window-classes.on-large {
        padding: 100px 156px;
    }

   

    h3 {
        @include typography.typography-headline-largest;
    }

    h2 {
        @include typography.typography-display-medium;
    }

    h1 {
        @include typography.typography-display-large;
    }
}

.section-logo {
    height: 455px;
    display: grid;
    place-items: center;
    background-color: white;

    img {
        grid-column: span 4;
        @include window-classes.on-medium {
            grid-column: span 8;
        }
        @include window-classes.on-large {
            grid-column: span 12;
        }
    }
}

.section-footer {
    justify-items: end;
    align-items: center;
    height: 150px;
 
    span {
        grid-column: span 4;
        @include window-classes.on-medium {
            grid-column: 5 / span 4;
        }
        @include window-classes.on-large {
            grid-column: 9 / span 4;
        }
    }
    p {
        @include typography.typography-body-medium;
    }
}
